.register-container{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.uno{
    background-color: yellow;
    width: 50%;
}

.dos{
    background-color: blue;
    width: 50%;
}

.dash-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  
  }
  
  .pirate-list {
    list-style-type: none;
    padding: 0;
  }
  
  .pirate-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
  }
  
  .pirate-image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
  }
  
  .button {
    margin-left: 1rem;
  }
  

  .pirate-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .pirate-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  

  .add-pirate-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .add-pirate-container h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .add-pirate-container form {
    display: grid;
    gap: 1rem;
  }
  
  .add-pirate-container label {
    display: inline-block;
    font-weight: bold;
  }
  
  .add-pirate-container input[type="text"],
  .add-pirate-container input[type="number"],
  .add-pirate-container input[type="checkbox"],
  .add-pirate-container select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .add-pirate-container button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }
  
  .add-pirate-container button:hover {
    background-color: #0056b3;
  }
  


  
  .register-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .register-container h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .register-container form {
    display: grid;
    gap: 1rem;
  }
  
  .register-container label {
    display: inline-block;
    font-weight: bold;
  }
  
  .register-container input[type="text"],
  .register-container input[type="email"],
  .register-container input[type="password"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .register-container button {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }
  
  .register-container button:hover {
    background-color: #0056b3;
  }
  
  .register-container div {
    background-color: #ff9900;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  